.container{
    max-width: 100%;
}


.card-text{
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}